ipykernel
openai-agents>=0.9.1
openai-agents[viz]>=0.9.1
openai-agents[voice]>=0.9.1
asyncio
matplotlib
pandas

# Google Sheets API
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
sounddevice